.Rproj.user
.Rhistory
.RData
.Ruserdata

/output/**
!/output/**/
!/output/**/.gitkeep

/weather-data/desert-plant-prism/
!/weather-data/desert-plant-prism/**
!/weather-data/desert-plant-prism/.gitkeep

/npn-data/intensity-oaks/
!/npn-data/intensity-oaks/**
!/npn-data/intensity-oaks/.gitkeep

/npn-data/intensity-red-maple/
!/npn-data/intensity-red-maple/**
!/npn-data/intensity-red-maple/.gitkeep