.Rproj.user
.Rhistory
.RData
.Ruserdata

/output/**
!/output/**/
!/output/**/.gitkeep

/weather-data/desert-plant-prism/
!/weather-data/desert-plant-prism/**
!/weather-data/desert-plant-prism/.gitkeep